{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
	<h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
	<div class="row text-white">
		<div class="col-sm-5">
			<h3 class="mt-5">HTML/CSS</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" area-volumnnow="50" area-volumnin="0" area-volumnmax="100">50%</div>
			</div>
		</div>
		<div class="col-sm-5 offset-sm-2">
			<h3 class="mt-5">JavaScript</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" area-volumnnow="30" area-volumnin="0" area-volumnmax="100">30%</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-5">
			<h3 class="mt-5">Python</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" area-volumnnow="80" area-volumnin="0" area-volumnmax="100">80%</div>
			</div>
		</div>
		<div class="col-sm-5 offset-sm-2">
			<h3 class="mt-5">Docker</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" area-volumnnow="40" area-volumnin="0" area-volumnmax="100">40%</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-5">
			<h3 class="mt-5">Java</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" area-volumnnow="30" area-volumnin="0" area-volumnmax="100">30%</div>
			</div>
		</div>
		<div class="col-sm-5 offset-sm-2">
			<h3 class="mt-5">Django(rest framework)</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" area-volumnnow="75" area-volumnin="0" area-volumnmax="100">75%</div>
			</div>
		</div>
	</div>
	<div class="row text-white">
		<div class="col-sm-5">
			<h3 class="mt-5">Scrapy</h3>
			<div class="progress">
				<div class="progress-bar"  style="width: 75%" area-volumnnow="75" area-volumnin="0" area-volumnmax="100">75%</div>
			</div>
		</div>
		<div class="col-sm-5 offset-sm-2">
			<h3 class="mt-5">MySQL</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" area-volumnnow="90" area-volumnin="0" area-volumnmax="100">90%</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}