<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Django</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}" class="css">
</head>
<body>
<div class="container mt-5">
    <h2 class="test-center alert alert-danger">Base Class based view Model Form CRUD Project</h2>
    {% block content %}
    {% endblock content%}
</div>


<script src="{% static 'enroll/js/jquery.js' %}"></script>
<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>