<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>

<table border="1px" style="width:auto">
    <tr>
        <th>Firstname</th>
        <th>Roll</th>
        <th>Course</th>
    </tr>
    {% for st in student_list %}
    <tr>
        <td><a href="{% url 'studentdetail' st.pk  %}"> {{ st.name }}</a></td>
        <td>{{ st.roll }}</td>
        <td>{{ st.course }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Freshers data</h1>

<table border="1px" style="width:auto">
    <tr>
        <th>Firstname</th>
        <th>Roll</th>
        <th>Course</th>
    </tr>
    {% for st in freshers %}
    <tr>
        <td>{{ st.name }}</td>
        <td>{{ st.roll }}</td>
        <td>{{ st.course }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>