{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">HIGHLIGHTS</h1>
</div>
<div xmlns="http://www.w3.org/1999/html">
    <div class="mt-2 text-white">
        <h2 style="font-family: 'Satisfy'" class="font-weight-bold text-left serif">Project work,</h2>
        <div class="mx-5 text-justify px-4" style="line-height:2rem;">
            <!-- <p style="text-indent:100px;"> -->
                <!-- <b class="text-warning st-font">Career Objectives: </b> -->

                - Created <b class="text-warning st-font">RESTFUL API's </b> for several Intranet applications using open source software.<br>
                - Designed and developed website using the Django framework.<br>
                - Developed rest framework based API (RESTful Web Service) using common business logic across markets to track sales and interactions, apply calculations and provide resource <br>
                - Used different <b class="text-warning st-font">authentication module(oauth)</b> in order to provide local as well social authentication.<br>
                - Working experience on Oracle SQL.<br>
                - Have experience working on reporting and data visualization tool <b class="text-warning">(SAP BI)</b> which is based on SQL.<br>
                - Have experience working with <b class="text-warning st-font">Sonarqube, pylint and basic understanding of Pysa</b> static code anlyzer.<br>
            </p>
            <hr style="height:2px;border-width:0;color:silver;background-color:silver">



            <p>
                - Created APIs using common business logic across markets which helped to use it across multiple market and made it more flexible.<br>

                - Creating <b class="text-warning">web scrapers</b> scripts, so that crawling required data becomes easy.<br>
                - Implemented different techniques to create scrapers and efforts to run dynamically, well works with multiple websites.<br>
                - Written efficient <b class="text-warning">x-paths</b> to parse/ingest web data.<br>
                - Testing the scrapers in virtual environments/productions<br>
                - Created multiple <b class="text-warning">Spiders</b> on python based framework in order to scrape required data from different pharmaceutical entities which helps building better analysis framework.<br>
                - Created <b class="text-warning">Job crawler Spiders</b> which provide multiple jobs list from different companies sites.<br>

                - Data manipulation and performing <b class="text-warning">CRUD operation</b> on different database using django rest framework.<br>
                - Knowledge of python like variable, strings, tuples, dictionary and building new functions.<br>
                - Applying <b class="text-warning">OOPs (Object Oriented Programming)</b> concept in python for code re-usability and readability.<br>
                - Web service for using different APIs.<br>
                - Worked on <b class="text-warning">SQL</b> for indexing data and query data<br>
                - Active participation on online coding sites.<br>
            </p>
            <hr style="height:2px;border-width:0;color:silver;background-color:silver">
            <p>

                - Using Django python framework for designing web application.<br>
                - Made full working <b class="text-warning st-font">music/e-commerce website(personal interest)</b> as a Django project.<br>
                - Implementing different API on Web application.<br>
                - Used <b class="text-warning">HTML, CSS</b> for web page designing.<br>
                - Fundamental knowledge on <b class="text-warning st-font">JS/ Bootstrap</b>.<br>
            </p>
            <hr style="height:2px;border-width:0;color:silver;background-color:silver">
            <p style="text-indent:100px;">
                <h3 class="text-warning">Project Specifics:</h3><br>
                <p>

                    <b class="text-warning"> 1. REST API</b><br>
                    Technology Used: Django(Python Web framework), Django-Rest-Framework<br>
                    Description: Accessing of database using Rest Api. Securing API by token authorization.<br>
                    <b class="text-warning"> 2. Music Web Application</b><br>
                    Technology Used: Django(Python Web framework), JavaScript, CSS, HTML<br>
                    Description: Fully functional music application which provide user registration, searching, add of songs and albums which great UI design.<br>
                    <b class="text-warning"> 2. Weather Application</b><br>
                    Technology Used: Django (Python Web framework), CSS, HTML<br>
                    Description: This project was capable to provide the latest weather condition of any city, including filter, addition removal of any city from the home page.<br>

                    <b class="text-warning"> 3. Scrapy for pharma data scrape.</b><br>
                    Technology Used: Scrapy<br>
                    Description: Client wanted to extract data for medicines under all the categories available on the pharmaceutical portals at regular intervals to perform analyses over a period. Scraping data from health discussion forums for analysis.Developed Web-Crawler to fetch data from different websites and index them into SQL database<br>

                </p>

            </p>

        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>

</div>
{% endblock content %}