{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<div class="text-center">
    <img src="{% static 'core/images/Capture.PNG' %}" alt="ProfilePic" class="img-thumbnail my-4" width="250px" ,
         height="150px">
</div>
<div xmlns="http://www.w3.org/1999/html">
    <div class="mt-2 text-white">
        <h1 style="font-family: 'Satisfy'" class="font-weight-bold text-left serif">Hello,</h1>
        <div class="mx-5 text-justify px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">
                <!-- <b class="text-warning st-font">Career Objectives: </b> -->
                “I am <b class="text-warning st-font">Rohit Kumar, </b>A Python developer with experience in web development(Django Rest Framework) and web scraping. Seeking to use
                extensive knowledge and background in web development to advance and optimize the web model ultimately
                helps achieving organization’s goals” </p>

            <p style="text-indent:100px;">
                <b class="text-warning">Work Experience: </b>
                “5+ years of overall experience
                <w></w>
                which includes 3 years of relevant experience working with python(Django and Scrapy framework),
                it’s libraries and frameworks (Django and Scrapy) and 2.5 years of Oracle PL/SQL and SAP Business
                objects experience.”
            
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>
{% endblock content %}